:root {
  --naranja: #ea7e12;
  --rojo: #ea3212;
}

#titleSpan {
  font-family: "Fredoka", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  word-spacing: 0.8rem;
}

.navbar {
  background-color: #101010;
  color: whitesmoke;
}
/* media para el logo del nav  */
@media (min-width: 992px) {
  #titleSpan img {
    width: 500px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #titleSpan img {
    width: 400px;
  }
}

@media (max-width: 767px) {
  #titleSpan img {
    width: 200px;
  }
}

body {
  background-color: #2a2a2a;
}

h1 {
  color: whitesmoke;
}

#bienvenido {
  font-family: "Agdasima", sans-serif;
  font-weight: 700;
  font-size: 5rem;
  font-style: normal;
}

#btn {
  background-color: #f57536;
  border-color: #3f52b4;
  color: #3f52b4;
}

#label {
  color: white;
  font-size: 1.2rem;
}

#spanLabel {
  font-size: 0.9rem;
}

#cardStyle {
  background-color: #f57536;
  border-color: blue;
  color: white;
}

#superHeroEncontrado {
  display: none;
}

#chartContainer {
  height: 300px;
  width: 100%;
}
